version: 2.1

executors:
  cloud-sdk:
    docker:
      - image: google/cloud-sdk

commands:
  build_service:
    description: "Build"
    parameters:
      folder_name:
        type: string
        default: "Folder-1"
    steps:
      - run:
          name: Export env vars for substitution. $BASH_ENV is sourced before each step
          command: |
            echo 'export FOLDER="<< parameters.folder_name >>"' >> $BASH_ENV
            source $BASH_ENV
      - run:
          command: chmod +x .circleci/check_commit_in_folder.sh
      - run:
          name: checking if commit was done in
          command: |
            echo "folder " ${FOLDER}
            LATEST_COMMIT=$(git rev-parse HEAD)
            FOLDER_COMMIT=$(git log -1 --format=format:%H --full-diff ${FOLDER})

            echo "LATEST_COMMIT: " $LATEST_COMMIT
            echo "FOLDER_COMMIT: " $FOLDER_COMMIT

      - run:
          name: store folders with changes in the last commit
          command: |
            if [[ $LATEST_COMMIT = $FOLDER_COMMIT ]]; 
            then
              echo "this folder ${FOLDER} was updated, add build code in this section"
              echo "crear el archivo con el nombre del parametro folder_name"
              echo "autenticacion.txt, tag"
            else
              echo "no need to deploy"
            fi
  deploy_service:
    description: "deploy service"


jobs:
  build-deploy-dev:
    executor: cloud-sdk
    steps:
      - checkout
      - build_service:
          folder_name: "autenticacion" 
          env: "dev"         
      - build_service:
          folder_name: "clientes"
          env: "dev"         
      - build_service:
          folder_name: "piscinas"
          env: "dev"         
      - deploy_service:
          env: "dev"         
  build-deploy-qa:
    executor: cloud-sdk
    steps:
      - checkout
      - build_service:
          folder_name: "autenticacion" 
          env: "qa"         
      - build_service:
          folder_name: "clientes"
          env: "qa"         
      - build_service:
          folder_name: "piscinas"
          env: "qa"         
      - deploy_service:
          env: "qa"         
  

workflows:
  version: 2
  build-deploy:
    jobs:
      - build-deploy-dev:
          filters:
            branches:
              only: develop
      - build-deploy-qa:
          filters:
            branches:
              only: qa
