version: 2.1

commands:
  print:
    steps:
      - run:
          command: |
            LATEST_COMMIT=$(git rev-parse HEAD)
            FOLDER1_COMMIT=$(git log -1 --format=format:%H --full-diff Folder-1)
            FOLDER2_COMMIT=$(git log -1 --format=format:%H --full-diff Folder-2)
            echo "LATEST_COMMIT: "$LATEST_COMMIT
            echo "FOLDER1_COMMIT: " $FOLDER1_COMMIT
            echo "FOLDER2_COMMIT " $FOLDER2_COMMIT

jobs:
  print-changed-service:
    executor: cloud-sdk
    steps:
      - checkout
      - print


workflows:
  version: 2
  build-deploy:
    jobs:
      - print-changed-service:
          filters:
            branches:
              only: develop
