version: 2.1

executors:
  cloud-sdk:
    docker:
      - image: google/cloud-sdk

commands:
  build_service:
    description: "Build/push image to GCR"
    parameters:
      folder_name:
        type: string
        default: "Folder-1"
    steps:
      - run:
          name: Export env vars for substitution. $BASH_ENV is sourced before each step
          command: |
            echo 'export FOLDER="<< parameters.folder_name >>"' >> $BASH_ENV
            source $BASH_ENV
      - run:
          command: chmod +x .circleci/check_commit_in_folder.sh
      - run:
          name: checking if commit was done in
          command: |
            echo "folder " ${FOLDER}
            LATEST_COMMIT=$(git rev-parse HEAD)
            FOLDER_COMMIT=$(git log -1 --format=format:%H --full-diff ${FOLDER})

            echo "LATEST_COMMIT: " $LATEST_COMMIT
            echo "FOLDER_COMMIT: " $FOLDER_COMMIT

            if [ "$FOLDER_COMMIT" = "$LATEST_COMMIT" ];
            then
                echo "a change was made in this folder";
            else
                echo "a change was NOT made in this folder";
                circleci step halt
            fi


jobs:
  build-deploy-dev:
    executor: cloud-sdk
    steps:
      - checkout
      - build_service:
          folder_name: "Folder-1"
      - build_service:
          folder_name: "Folder-2"

workflows:
  version: 2
  build-deploy:
    jobs:
      - build-deploy-dev:
          filters:
            branches:
              only: develop
