version: 2.1

executors:
  cloud-sdk:
    docker:
      - image: google/cloud-sdk

commands:
  print:
    steps:
      - run:
          command: chmod +x .circleci/check_commit_in_folder.sh
      - run:
          command: .circleci/check_commit_in_folder.sh Folder-1

jobs:
  print-changed-service:
    executor: cloud-sdk
    steps:
      - checkout
      - print


workflows:
  version: 2
  build-deploy:
    jobs:
      - print-changed-service:
          filters:
            branches:
              only: develop
